<!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div id="logo">
        <h1><a href="/"><span> J A M I </span>J O Y</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/#blog">Blog</a></li>
          <li class="dropdown"><a href="#"><span>Projects</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="http://himlab.medianewsonline.com/">HimLab</a></li>
              <li class="dropdown"><a href="#"><span>Laravel Project</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Project 1</a></li>
                </ul>
              </li>
              <li><a href="#">Node JS</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Professional Projects</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li class="dropdown"><a href="#"><span>Land Ministry Projects</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="https://land.gov.bd/">Land Portal</a></li>
                  <li><a href="https://lsg-land-owner.land.gov.bd/login">Land Citizen Portal</a></li>
                  <li><a href="https://lsg-pg.land.gov.bd/">Land Payment Portal</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Bili Projects</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="https://www.bili.com.bd/">Bili Home</a></li>
                  <li><a href="https://merchant.bili.com.bd/">Bili Merchant Panel</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Paperfly Delivery Network</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="https://operation.paperfly.com.bd/">Paperfly ERP</a></li>
                  <li><a href="https://paperfly.com.bd/">Paperfly Homepage</a></li>
                  <li><a href="https://go.paperfly.com.bd/">Paperfly Merchant Panel</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link scrollto" href="about">About</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->