

  <!-- Page Loader -->
  <div id="loader">
    <div class="spinner"></div>
  </div>
  
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div id="logo">
        <h1><a href="/"><span> J A M I </span>J O Y</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <!-- <li><a class="nav-link scrollto" href="/#blog">Blog</a></li> -->
          <li class="dropdown"><a href="/project-one"><span>Projects</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li class="dropdown"><a href="/project-one"><span>Data Science Models</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="/sales-prediction/">Sales Prediction</a></li>
                  <li><a href="/movie-recommendation/">Movie Recommendation System</a></li>
                  <li><a href="/project-one">Customer Segmentation</a></li>
                  <li><a href="/project-one">Data Dashboards</a></li>
                  <li><a href="/project-one">Web Scraping Analysis</a></li>
                  <li><a href="/project-one">AI Chatbot Analytics</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="/project-one"><span>Professional Projects</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li class="dropdown"><a href="/project-one"><span>Land Ministry Projects</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                      <li>
                        <a href="https://land.gov.bd/">
                          <div class="row gap-2">
                            <div class="col-auto">
                              <img src="/assets/img/assoc/bdlogo.png" alt="Land Logo" width="20" height="20">
                            </div>
                            <div class="col-auto">
                              <span class="text-muted">
                                Land Portal
                              </span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="https://lsg-land-owner.land.gov.bd/login">
                          <div class="row gap-2">
                            <div class="col-auto">
                              <img src="/assets/img/assoc/bdlogo.png" alt="Land Logo" width="20" height="20">
                            </div>
                            <div class="col-auto">
                              <span class="text-muted">
                                Land Citizen Portal
                              </span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="https://lsg-pg.land.gov.bd/">
                          <div class="row gap-2">
                            <div class="col-auto">
                              <img src="/assets/img/assoc/bdlogo.png" alt="Land Logo" width="20" height="20">
                            </div>
                            <div class="col-auto">
                              <span class="text-muted">
                                Land Payment Portal
                              </span>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="/project-one"><span>Bili Projects</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                      <li>
                        <a href="https://www.bili.com.bd/">
                          <div class="row gap-2">
                            <div class="col-auto">                              
                              <img src="/assets/img/assoc/bili.png" alt="Bili Logo" width="80" height="20">
                            </div>
                            <div class="col-auto">
                              <span class="text-muted">
                                Bili Home
                              </span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="https://merchant.bili.com.bd/">
                          <div class="row gap-2">
                            <div class="col-auto">                              
                              <img src="/assets/img/assoc/bili.png" alt="Bili Logo" width="80" height="20">
                            </div>
                            <div class="col-auto">
                              <span class="text-muted">
                                Bili Merchant Panel
                              </span>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown"><a href="/project-one"><span>Paperfly Delivery Network</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                      <li>
                        <a href="https://operation.paperfly.com.bd/">
                          <div class="row gap-2">
                            <div class="col-auto">
                              <img src="/assets/img/assoc/paperfly.png" alt="Paperfly Logo" width="80" height="20">
                            </div>
                            <div class="col-auto">
                              <span class="text-muted">
                                Paperfly ERP
                              </span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="https://paperfly.com.bd/">
                          <div class="row gap-2">
                            <div class="col-auto">
                              <img src="/assets/img/assoc/paperfly.png" alt="Paperfly Logo" width="80" height="20">
                            </div>
                            <div class="col-auto">
                              <span class="text-muted">
                                Paperfly Homepage
                              </span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="https://go.paperfly.com.bd/">
                          <div class="row gap-2">
                            <div class="col-auto">
                              <!-- <div class="spinner-border spinner-border-sm text-primary" role="status"> -->
                              <img src="/assets/img/assoc/paperfly.png" alt="Paperfly Logo" width="80" height="20">
                            </div>
                            <div class="col-auto">
                              <span class="text-muted">
                                Paperfly Merchant Panel
                              </span>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="dropdown"><a href="/project-one"><span>Web Projects</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="http://himlab.medianewsonline.com/">Himlab</a></li>
                  <li><a href="http://ptebd.scienceontheweb.net/">PTE BD</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="/project-one"><span>E-Commerce Projects</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="/project-one">Raisa AI Ecom</a></li>
                  <li><a href="https://sohiattire.onlinewebshop.net">SOHI Attire</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
          <li><a class="nav-link scrollto" href="/about">About Me</a></li>
          <li>
            <a class="nav-link scrollto" href="#">
              <span class="bn-btn">BN</span>
            </a>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->